@import url('https://fonts.googleapis.com/css?family=Kurale|Marmelad|Neucha|Pattaya|Spectral+SC|El+Messiri');


a {
   color:#5a6794;
}

a:hover {
   color:#1c2135;
}

#leave {
   color: #ffffff;
}

body {
  background: #e9ebef;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  font-family: 'Neucha';
  background-color: #1c2135;

}

.multiple-borders {
box-shadow: 0px 0px 0px 2px #1c2135;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.game_title {
   font-family: 'Neucha';
   color: #1c2135;
   font-size: 3rem;
}
.timmer {
   font-family: 'Neucha';
   color: #1c2135;
   font-size: 4rem;
}

.titles {
   font-family: 'Neucha';
   color: #1c2135;
   font-size: 2rem;
}

.titles_2 {
   font-family: 'Neucha';
   color: #1c2135;
   font-size: 1.5rem;
}
.titles_3 {
   font-family: 'Neucha';
   color: #ffffff;
   font-size: 1.8rem;
}

.main-text {
   font-family: 'El Messiri';
   color: #1c2135;
   font-size: 1.3rem;
}

.white-text-big {
   font-family: 'El Messiri';
   color: #e9ebef;
   font-size: 1.3rem;
}

.white-text {
   font-family: 'El Messiri';
   color: #e9ebef;
   font-size: 1rem;
}

.small-text {
   font-family: 'El Messiri';
   color: #1c2135;
   font-size: 1.2rem;
   text-align: center;
}
.about-text {
   font-family: 'Neucha';
   color: #1c2135;
   font-size: 2rem;
   text-align: center;
}
.btn {
   background-color:#5a6794;
   -moz-border-radius:11px;
   -webkit-border-radius:11px;
   border-radius:11px;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:'El Messiri';
   font-size:17px;
   /*padding:16px 28px;*/
   text-decoration:none;
   box-shadow: none;
}
.btn:hover {
	background-color:#1c2135;
}
.btn:active {
	position:relative;
	top:1px;
}

.rules-text {
   font-family: 'El Messiri';
   color: #1c2135;
   font-size: 1.1rem;
   text-align: center;
}

.footer-text {
   font-family: 'El Messiri';
   color: #ffffff;
   font-size: 0.8rem;
   text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #1c2135;
}

.message-area{
   height: 260px;
   width: 870px;
   overflow-y: scroll;
   border: none;
   resize: none;
}
.imback {
   background-color:#1c2135;
}
.locback {
   background-color:#1c2135;
}
.imback_height {
    height: 13rem;
}
.locback_height {
    height: 13rem;
}
.imback_height_half {
   height: 5rem;
}
