{% extends "layout.html" %}
{% block content %}
<div class="row">
   <div class="col-md-1">
      <!--<img src="{{ url_for('static', filename='локация.png') }}" alt="" class="img-fluid">-->
   </div>
   <div class="col-md-10">
      <div class="text-nowrap text-center game_title">Правила игры</div>
      <div class="rules-text mt-3 pl-5 pr-5">
         На время игры участники оказываются в определенной локации, и лишь один из них (шпион) не знает, где находится.
      </div>
      <div class="main-text text-center mt-3">
         <u>Цель игры</u>
         <div class="row">
            <div class="col">
               <div class="rules-text mt-3 pl-5 pr-5">
                  <p class="font-weight-bold">Для шпиона: </p>
                  оставаться нераскрытым до окончания раунда или угадать локацию, в которой все находятся.
               </div>
            </div>
            <div class="col">
               <div class="rules-text mt-3 pl-5 pr-5">
                  <p class="font-weight-bold">Для нешпионов: </p>
                  путем общего голосования выбрать шпиона, тем самым разоблачив его, и не раскрыть локацию.
               </div>
            </div>
         </div>
      </div>
      <div class="main-text text-center mt-3">
         <u>Конец игрового раунда</u>
         <div class="row">
            <div class="col">
               <div class="rules-text mt-3 pl-5 pr-5">
                  <p class="font-weight-bold">Шпион раскрыл локацию </p>
                  В любой момент игры (кроме голосования) шпион может нажать на кнопку «Угадать локацию». Таймер останавливается, и все игроки оповещаются, что шпион пытается угадать локацию. Для игроков управление в этот момент недоступно. Перед шпионом появляется список всех локаций, из которых он должен выбрать текущую. Если локация угадана – игра заканчивается победой шпиона, если нет – игра заканчивается победой нешпионов.
               </div>
            </div>
            <div class="col">
               <div class="rules-text mt-3 pl-5 pr-5">
                  <p class="font-weight-bold">Закончилось время </p>
                  Если время игрового раунда закончилось, а шпион так и не был отгадан, то он считается победителем данной игры.
               </div>
               <img src="{{ url_for('static', filename='spy.jpg') }}" alt="" class="img-fluid pt-3 rounded-circle">
            </div>
            <div class="col">
               <div class="rules-text mt-3 pl-5 pr-5  pb-5">
                  <p class="font-weight-bold">Шпион раскрыт </p>
                  Нешпионы могут угадать шпиона. Для этого любой игрок в любой момент игры может нажать на кнопку «Голосовать», таймер останавливается, появляется окно, в котором инициатор голосования выбирает игрока-шпиона. Далее остальные игроки могут проголосовать «за» или «против». Если все игроки «за» – карта подозреваемого вскрывается, если он не был шпионом, то он исключается из игры (не может задавать вопросы/отвечать на них и голосовать, но может наблюдать) и игра продолжается. Если это был шпион, игра заканчивается победой нешпионов. В голосование шпион не участвует. Так же он не может угадывать локацию в это время.
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-1">
      <!--<img src="{{ url_for('static', filename='локация.png') }}" alt="" class="img-fluid">-->
   </div>
</div>
{% endblock content %}
