{% extends "layout.html" %}
{% block content %}
<script>
function sh(div){
   document.getElementById("div1").style.display = "none";
   document.getElementById("div2").style.display = "none";
   document.getElementById("div3").style.display = "none";
   document.getElementById("div4").style.display = "none";
   document.getElementById("div5").style.display = "none";
   document.getElementById(div).style.display = 'block';
};
</script>

<div class="row">
   <div class="col-md-3 text-center">
         <div class="titles_2">Ход игры</div>
         <div class="row justify-content-center py-1">
            <input type="button" class="btn btn-default btn-lg col-md-7" value="Как играть" onmousedown="sh('div1')">
         </div>
         <div class="row justify-content-center py-1">
            <input type="button" class="btn btn-default btn-lg col-md-7" value="Цели игроков" onmousedown="sh('div2')">
         </div>
         <div class="titles_2">Конец игры</div>
         <div class="row justify-content-center py-1">
            <input type="button" class="btn btn-default btn-lg col-md-7" value="Закончилось время" onmousedown="sh('div3')">
         </div>
         <div class="row justify-content-center py-1">
            <input type="button" class="btn btn-default btn-lg col-md-7" value="Раскрытие шпиона" onmousedown="sh('div4')">
         </div>
         <div class="row justify-content-center py-1">
            <input type="button" class="btn btn-default btn-lg col-md-7" value="Раскрытие локации" onmousedown="sh('div5')">
         </div>
   </div>
   <div id="div1" class="col-md-7 main-text" style="display:block; line-height: 1.3;">
      <div class="titles_2 py-1"> Как играть</div>
      <p>Добро пожаловать в "Guess Who"! При нажатии на кнопку "Начать игру", Вы попадаете в игровую комнату, где помимо
      вас находится еще два игрока. Каждый получет роль: "шпион" или "нешпион". В каждой комнате только один шпион.
      В течении игры Вы можете задавать вопросы в чате другим игрокам, чтобы выполнить цель Вашего персонажа (См. раздел "Цели игроков").</p>
      <p>В течении игры каждый нешпион может отдать свой голос за предполагаемого шпиона. Для этого в любой момент игры нужно
      нажать на кнопку «Голосовать» под именем игрока, которого Вы считаете шпионом. Голосовать можно один раз за игру.</p>
      <p>Если Вы - шпион, то в течении игры Вы можете один раз попытаться угадать локацию.</p>
      <p>Игра может закончится тремя разными исходами (См. раздел "Конец игры"). Вы можете закончить игру в любой момент,
      нажав кнопку "Выйти".</p>
   </div>
   <div id="div2" class="col-md-7 main-text" style="display:none; line-height: 1.3;">
      <div class="titles_2 py-1"> Цели игроков </div>
      <p><b>Для шпиона:</b> оставаться нераскрытым до окончания раунда или угадать локацию, в которой все находятся.</p>
      <p><b>Для нешпионов:</b> путем голосования выбрать шпиона, тем самым разоблачив его, и не раскрыть локацию.</p>
   </div>
   <div id="div3" class="col-md-7 main-text" style="display:none; line-height: 1.3;">
      <div class="titles_2 py-1"> Конец игры: закончилось время </div>
      Если время игрового раунда закончилось, а шпион так и <b>не был отгадан</b>, то он считается <b>победителем</b> данной игры.
   </div>
   <div id="div4" class="col-md-7 main-text" style="display:none; line-height: 1.3;">
      <div class="titles_2 py-1"> Конец игры: раскрытие шпиона </div>
      В любой момент игры нешпион может попытаться угадать шпиона (См. раздел "Как играть").<br>
      Голос каждого нешпиона учитывается и если к концу раунда большинство голосов получил настоящий шпион, то игра заканчивается <b>победой нешпионов</b>.<br>
      <p>Если же большинство голосов было отдано за нешпиона, то игра заканчивается <b>победой шпиона</b>.</p>
   </div>
   <div id="div5" class="col-md-7 main-text" style="display:none; line-height: 1.3;">
      <div class="titles_2 py-1"> Конец игры: раскрытие локации</div>
      В любой момент игры шпион может попытаться угадать локацию (См. раздел "Как играть").<br>
      Если предположение шпиона оказалось <b>верно</b>, то игра заканчивается <b>победой шпиона</b>.<br>
      <p>Если предположение <b>неверно</b>, то игра заканчивается <b>победой нешпионов</b>.</p>
   </div>
</div>
{% endblock content %}
